
<div padding>
  <ion-segment [(ngModel)]="cat">
    <ion-segment-button value="men">
      Multimedia
    </ion-segment-button>
    <ion-segment-button value="women">
      Triaje
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="cat">
  <ion-list *ngSwitchCase="'men'">
    <video *ngIf="false" controls autoplay #myvideo>
    </video>


    <ion-item *ngIf="image">
      <img [src]="image" />

    </ion-item>
    <ion-item *ngIf="data">
      <p>{{data}}</p>

    </ion-item>


    <ion-item>
      <ion-label color="primary" floating>Breve Descripción: </ion-label>
      <ion-input [(ngModel)]='msg' maxlength="20"></ion-input>
    </ion-item>

    <ion-fab center middle #fab>
      <button ion-fab>
        <ion-icon name="share"></ion-icon>
      </button>
      <ion-fab-list side="top">
        <button ion-fab (click)="atras(fab)">
          <ion-icon name="reorder"></ion-icon>
        </button>
        <button ion-fab (click)="presentActionSheet()">
          <ion-icon name="camera"></ion-icon>
        </button>
        <button ion-fab (click)="captureVideo()">
          <ion-icon name="play"></ion-icon>
        </button>
        <button ion-fab (click)="uploadImage()" [disabled]="data === null">
          <ion-icon name="cloud-upload"></ion-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
  </ion-list>
  <!--??????????????????????????????????????????????????????????????????????-->

  <form [formGroup]="myForm" (ngSubmit)="enviarDatosTriaje()" *ngSwitchCase="'women'">
    <ion-list>
      <ion-item>
        <ion-icon name="reanimacion" item-left></ion-icon>
        <ion-label stacked>Reanimación</ion-label>
        <ion-input formControlName="reanimacion" type="number" placeholder="Nivel I"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="emergencia" item-left></ion-icon>
        <ion-label stacked>Emergencia:</ion-label>
        <ion-input formControlName="emergencia" type="number" placeholder="Nivel II"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="urg" item-left></ion-icon>
        <ion-label stacked>Urgente</ion-label>
        <ion-input formControlName="urg" type="number" placeholder="Nivel III"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="menosurg" item-left></ion-icon>
        <ion-label stacked>Menos Urgente</ion-label>
        <ion-input formControlName="menosurg" type="number" placeholder="Nivel IV"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="nourg" item-left></ion-icon>
        <ion-label stacked>No Urgente</ion-label>
        <ion-input formControlName="nourg" type="number" placeholder="Nivel V"></ion-input>
      </ion-item>

    </ion-list>
    <div padding>
      <button ion-button round block type="submit" [disabled]="!myForm.valid">
        <ion-icon name="cloud-upload"></ion-icon>
      </button>
    </div>
  </form>
</div>